## .NET Core
*.user
*.suo
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log

## Visual Studio
.vs/
*.rsuser
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb

## NuGet
packages/
!packages/repositories.config
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Rider
.idea/
*.sln.iml

## User secrets
**/appsettings.Development.json
**/secrets.json

## Docker
docker-compose.override.yml

## macOS
.DS_Store
